<h1>Editing Matricreport</h1>

<div class="container col-md-12"><%= render 'form', matricreport: @matricreport%></div>

<div class="container col-md-12"><%= link_to 'View', @matricreport %> |
<%= link_to 'Back', matricreports_path %></div>

