<h1>Add New School</h1>
<div class="container col-md-12"><%= render 'form', matricreport: @matricreport ,class: "container col-md-6"%></div>

<div class="row"><%= link_to 'Back', matricreports_path %></div>		
