<h1 class="pager">Add New School</h1>
<div class="container col-md-12"><%= render 'form', matricreport: @matricreport%></div>
<div class="pager"><%= link_to 'Back', matricreports_path,class: "link" %></div>

